In [2]:
import pandas as pd

In [8]:
df = pd.read_excel('grouped_by_arabic_letters.xlsx')

In [9]:
df.head()

  Arabic Letter                                 Objects in English
0             ط  ['Helicopter', 'Desk', 'Pasta', 'Popcorn', 'Pe...
1             م  ['Whale', 'Parachute', 'Pasta', 'Towel', 'Nail...
2             ن  ['Pasta', 'Binoculars', 'Eagle', 'Palm tree', ...
3             س  ['Ladder', 'Candy', 'Bed', 'Stethoscope', 'Fis...
4             إ  ['Pitcher (Container)', 'Bicycle wheel', 'Stop...

In [10]:
df.columns

Index(['Arabic Letter', 'Objects in English'], dtype='object')

In [11]:
# Remove unwanted characters from the column
df['Objects in English'] = df['Objects in English'].str.replace(r"[\[\]']", '', regex=True)

# Save the cleaned data back to an Excel file
df.to_excel('cleaned_file.xlsx', index=False)